@import '../tools/colors.scss';

body {
    position: relative;
}

#artist {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    width: 100vw;
    background-size: cover;
    background-position: center;
    padding: 0 4vw 2vw;

    h2 {
        font-size: 4rem;
    }

    p {
        margin: 20px 0;
        font-size: 1.7rem;

        &:last-of-type {
            margin-bottom: 40px;
        }
    }

    @media screen and (max-width: 739px) {
        top: 140px;
        height: calc(100vh - 140px);
    }

    @media screen and (min-width: 740px) {
        top: 90px;
        height: calc(100vh - 90px);
    }
}