@charset "UTF-8";
body {
  position: relative;
}

main {
  display: grid;
}
main > * {
  grid-row: 1;
  grid-column: 1;
}

#track {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-size: cover;
  background-position: center;
  -webkit-filter: blur(8px);
  filter: blur(8px);
}
@media screen and (max-width: 739px) {
  #track {
    top: 140px;
    min-height: calc(100vh - 140px);
  }
}
@media screen and (min-width: 740px) {
  #track {
    top: 90px;
    min-height: calc(100vh - 90px);
  }
}

#track-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  z-index: 1;
  text-align: center;
}
@media screen and (max-width: 739px) {
  #track-ctn {
    margin-top: 150px;
    min-height: calc(100vh - 150px);
  }
}
@media screen and (min-width: 740px) {
  #track-ctn {
    margin-top: 100px;
    min-height: calc(100vh - 100px);
  }
}
#track-ctn img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  margin: 0 auto -50px;
  box-shadow: 0 0 12px #151515;
}
#track-ctn audio {
  margin-bottom: 20px;
}
#track-ctn a:hover:not(#search-button) {
  text-decoration: underline;
}
#track-ctn span {
  opacity: 0.7;
}
#track-ctn p {
  margin: 10px 0 100px;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.7;
}
#track-ctn #search-button {
  margin: 0 auto 4vw;
}
#track-ctn button {
  display: inline-block;
  margin-left: 15px;
}
#track-ctn button::after {
  content: "";
  font-family: "Font Awesome 5 Free";
}
#track-ctn button:hover::after {
  color: #e3502b;
}
